.header{
  @media (min-width: $screen-sm){
    width: 320px;
  }
}
.header__inner {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-top: 10px;
  @media (min-width: $screen-lg){
    background-color: $color-background;
  }
  p {
    display: none;
    font-size: 16px;
    font-weight: 500;
  }
}

.header__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding-left: 12px;
  font-size: 14px;
  font-weight: 500;
  @media (min-width: $screen-lg){
    top: 25px;
    position: absolute;
    padding: 10px;
  }
  @media (min-width: $screen-sm){
    padding-top: 25px;
  }
}

.header__text {
  position: relative;
}

.header__text h1 {
  font-family: 'TT Lakes', sans-serif;
  font-size: 28px;
  font-weight: 900;
  color: #1B1C21;
}

.header__text::before {
  content: "";
  position: absolute;
  left: -13px;
  top: 38px;
  transform: translateY(-50%);
  height: 32px;
  width: 4px;
  background-color: #41F6D7;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
  @media (min-width: $screen-lg){
    left: -10px;
  }
}

.header__first, .header__second {
  display: flex;
  align-items: center;
}
.header__first{
  @media (min-width: $screen-lg){
    display:none;
  }
}
.header__second {

  overflow: visible;
  width: 120px;
  padding: 15px 0 15px 0;
  @media (min-width: $screen-md){
      overflow: auto;
      width: 100%;
      justify-content: flex-end;
    }
}


.header__elem1, .header__elem2, .header__elem3,
.header__elem4, .header__elem5, .header__elem7,
.header__elem8 {
  margin: 0 8px 0 8px;
  cursor: pointer;
  @media (min-width:$screen-lg){
    display:none;
  }
}

.header__elem1 {
  @media (min-width: $screen-md) {
    order: 1;
    margin-right: 42px;
  }
}

.header__elem2 {
  position: relative;

  @media (min-width: $screen-md) {
    order: 2;
  }
}

.header__elem2::after {
      content: "";
      position: absolute;
      left: 116px;
      top: 28px;
      transform: translateY(-50%);
      height: 32px;
      width: 2px;
      background-color: #EAEAEA;
      border-radius: 2px;
      @media (min-width: $screen-md) {
        left: -21px;
      }
      @media (min-width: $screen-lg) {
        display: none;
      }
}

.header__elem3 {
  display: none;
  @media (min-width: $screen-md) {
    display: block;
    margin-left: 16px;
  }
  @media (min-width: $screen-lg) {
    display: none;
  }
}
.header__elem4 {
  display: none;
  @media (min-width: $screen-md) {
    display: block;
    margin-left: 16px;
  }
  @media (min-width: $screen-lg) {
    display: none;
  }
}

.header__elem5 {
  display: none;
  @media (min-width: $screen-md) {
    display: block;
    margin-left: 16px;
  }
  @media (min-width: $screen-lg) {
    display: none;
  }
}

.header__elem7,
.header__elem8 {
  @media (min-width: $screen-lg) {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 32px;
  }
}

.header__elem7 {
 @media (min-width: $screen-md) {
  padding-left: 42px;
  }
}

.header__elem7::before {
  content: "";
  position: absolute;
  left: -2px;
  top: 28px;
  transform: translateY(-50%);
  height: 32px;
  width: 2px;
  background-color: #EAEAEA;
  border-radius: 2px;
  @media (min-width:$screen-md) {
    left: auto;
    right: 120px;
    top: 45px;
  }
  @media (min-width:$screen-lg) {
    display: none;
  }
}

.header__inner p {
  @media (min-width:$screen-lg) {
    display: block;
    letter-spacing: -0.2px;
    padding-right: 8px;
  }
}

